@page "/results"
@using Data;
@using Data.ViewModels;
@using Services;
@inject IResultService resultService
@inject ITradeService tradeService

<style>
    .table-km {
        border-radius: 10px;
        padding: 10px;
        width: 40%;
        background-color: #EAECF1;
        text-align: center;
        margin: auto;
    }

    .table-net {
        border-radius: 10px;
        padding: 10px;
        width: 60%;
        background-color: #EAECF1;
        text-align: center;
        margin: auto;
    }

    .header-text {
        color: white;
        text-align: center;
    }

    .main-text {
        color: white;
    }
</style>

<h3 class="main-text">Results</h3>

@if (isLoaded)
{
    <h4 class="header-text">Key Metrics</h4>
    <table class="table table-hover table-km">
        <thead>
            <tr>
                <th>Avg % Gain</th>
                <th>Avg % Loss</th>
                <th>Batting Avg</th>
                <th>W/L</th>
                <th>Adj W/L</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>@(keyMetrics.Avg_percent_gain.HasValue ? keyMetrics.Avg_percent_gain.Value.ToString("P") : string.Empty)</td>
                <td>@(keyMetrics.Avg_percent_loss.HasValue ? keyMetrics.Avg_percent_loss.Value.ToString("P") : string.Empty)</td>
                <td>@(keyMetrics.Batting_avg.HasValue ? keyMetrics.Batting_avg.Value.ToString("P") : string.Empty)</td>
                <td>@keyMetrics.Win_loss_ratio</td>
                <td>@keyMetrics.Adj_win_loss</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />

    <h4 class="header-text">Net</h4>
    <table class="table table-hover table-net">
        <thead>
            <tr>
                <th>P/L $</th>
                <th>P/L %</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Total Trades</th>
                <th>LG % Gain</th>
                <th>LG % Loss</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@netResultVM.Pl_dollar.ToString("C")</td>
                <td>@netResultVM.Pl_percent.ToString("P")</td>
                <td>@netResultVM.Num_wins</td>
                <td>@netResultVM.Num_losses</td>
                <td>@netResultVM.Total_trades</td>
                <td>@netResultVM.Lg_win.ToString("P")</td>
                <td>@netResultVM.Lg_loss.ToString("P")</td>
            </tr>
        </tbody>
    </table>

}
else
{
    <div class="text-center">
        <img src="/images/infinityLoading.gif">
    </div>
}




@code {
    public KeyMetrics keyMetrics = new KeyMetrics();

    public NetResultViewModel netResultVM = new NetResultViewModel();

    private bool isLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadResults();
            StateHasChanged();
        }
    }

    public async Task LoadResults()
    {
        keyMetrics = await resultService.GetKeyMetrics();
        netResultVM = await resultService.GetNetResults();
        isLoaded = true;
        StateHasChanged();
    }
}
