@page "/test"
@using Data;
@using Data.ViewModels;
@using Services;
@using StockTradingApp.Services.Interfaces;
@inject IResultService resultService


<h4 class="header-text">Monthly</h4>
<table class="table table-hover table-net">
    <thead>
        <tr>
            <th>Month</th>
            <th>P/L $</th>
            <th>P/L %</th>
            <th>Avg % Gain</th>
            <th>Avg % Loss</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Batting Avg</th>
            <th>W/L</th>
            <th>Adj W/L</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var monthlyResultVM in monthlyResultVM)
            {
            <tr>
                <td>@monthlyResultVM.Month_closed</td>
                <td>@monthlyResultVM.Monthly_dollar_pl</td>
                <td>@monthlyResultVM.Monthly_percent_pl.ToString("P")</td>
                <td>@monthlyResultVM.Monthly_avg_percent_gain.ToString("P")</td>
                <td>@monthlyResultVM.Monthly_avg_percent_loss.ToString("P")</td>
                <td>@monthlyResultVM.Monthly_wins</td>
                <td>@monthlyResultVM.Monthly_losses.ToString("P")</td>
                <td>@monthlyResultVM.Monthly_batting_avg</td>
                <td>@monthlyResultVM.Monthly_winloss</td>
                <td>@monthlyResultVM.Monthly_adj_winloss</td>
            </tr>
            }
    </tbody>
</table>

@code {

    public List<MonthlyResultViewModel> monthlyResultVM = new List<MonthlyResultViewModel>();

    protected override void OnInitialized()
    {
         LoadMonthly();
    }

    public void LoadMonthly()
    {
        //monthlyResultVM = resultService.GetMonthlyResults().ToList();
    }
}
